#form {
  text-align: left;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  width: 20%;
  margin-right: 50px;
  color: black;
  background-color: rgba(242, 242, 242, 1);
}

.orange {
  color: rgba(255, 132, 58, 1);
}

#form h3 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

#form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#form input {
  width: 100%;
}

#form textarea {
  height: 80px;
  width: 100%;
}

#form button {
  border-radius: 8px;
  border: 0;
  background-color: rgba(255, 132, 58, 1);
  color: white;
  margin: auto;
  display: block;
  margin-top: 10px;
}

.card {
  margin-left: 50px;
  padding: 10px;
  text-align: left;
  height: fit-content;
  padding-bottom: 30px;
  margin-top: 50px;
  width: 50%;
  background-color: white;
}

.card .field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card label {
  font-size: 18px;
  margin-right: 15%;
  width: 100px;
}

.card .label {
  display: inline-block;
  width: 200px;
}

.card input {
  height: 20px;
  width: 40%;
}

.card #facebook {
  display: block;
  color: rgba(255, 132, 58, 1);
  margin-top: 20px;
}

.card#form-action {
  box-shadow: none;
  background-color: transparent;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  margin-left: 60px;
}

#form-action button {
  float: right;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

#form-action button#cancel {
  background-color: white;
  color: rgba(255, 132, 58, 1);
}

#form-action button#confirm {
  background-color: rgba(255, 132, 58, 1);
  color: white;
}
