h1#title {
  color: white;
  top: 410px;
  left: 25px;
  background-color: transparent;
  display: inline-block;
}

.card.grey {
  width: 100%;
}

.card.grey .content {
  padding: 10px;
}

.card.grey h2 {
  text-align: left;
}

.tab {
  overflow: hidden;
  margin-top: 50px;
  display: inline-block;
  margin-bottom: -5px;
}

.tab button {
  background-color: rgb(242, 242, 242);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  margin-right: 10px;
  max-width: 200px;
  height: 50px;
}
.tab button.inactive {
  background-color: orange;
  color: white;
}
button {
  margin: 0;
  border-radius: 8px 8px 0 0;
}

#form {
  text-align: left;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  width: 20%;
  margin-right: 50px;
  color: black;
  background-color: white;
  border-radius: 8px;
}
.orange {
  color: rgba(255, 132, 58, 1);
}

#form h3 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

#form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#form input {
  width: 100%;
}

#form textarea {
  height: 80px;
  width: 100%;
}

#form button {
  border-radius: 8px;
  border: 0;
  background-color: rgba(255, 132, 58, 1);
  color: white;
  margin: auto;
  display: block;
  margin-top: 10px;
}

.card {
  height: fit-content;
  width: 70%;
  float: left;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  padding: 20px;
}

.card .image {
  display: inline-block;
  width: 20%;
}

.card .image img {
  width: 100%;
}

.card .description {
  display: inline-block;
  width: 70%;
  padding-left: 20px;
  vertical-align: top;
}

.card .description h3 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

.card .description .details {
  display: inline-block;
  width: 100%;
}

.card .description .details ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.card .description .details ul li span {
  color: orange;
}

.card .description .details img {
  float: right;
  margin-top: -15px;
  width: 80px;
}

.card.profile {
  width: fit-content;
  margin-right: 20px;
}

.card.profile .image {
  text-align: center;
  width: 100%;
}

.card.profile h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.card.profile .image img {
  width: 150px;
}

.card.profile a {
  color: orange;
}
